<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-2">
            <div class="card p-4">
                <h3 class="text-center">
                    Usuarios existentes
                </h3>

                <table class="table table-hover mt-2">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                            <th scope="col">Puesto</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Aldair</td>
                            <td>Aldair</td>
                            <td>Aldair</td>
                            <td>Aldair</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-md-4 mt-2">
            <div class="card p-4">
                <h3 class="text-center">
                    Formulario de Usuarios
                </h3>
                <form class="mt-3">
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Nombre" required>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Apellido Paterno" required>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Apellido Materno" required>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput placeholder="Puesto" required>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field>
                            <input matInput type="password" placeholder="Contraseña" required>
                        </mat-form-field>
                    </p>
                    <p>
                        <button type="button" class="btn btn-success">Guardar</button>
                        <button type="button" class="btn btn-outline-info ml-2">Clear</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>