<br>
<div class="container-fluid">
    <div class="br-6"></div>
    <h2 class="text-center">Registro de Pacientes</h2>
    <br>
    <div class="row pr-4 pl-4">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body center">
                    <h3 class="text-center">Datos del paciente</h3>
                    <form [formGroup]="teacherFormGroup">
                        <p>
                            <mat-form-field>
                                <input formControlName="noAfiliacion" matInput placeholder="N° Afiliación" required>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <input formControlName="curp" matInput placeholder="Curp" required>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <input formControlName="nombre" matInput placeholder="Nombre(s)" required>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <input formControlName="aPaterno" matInput placeholder="Apellido Paterno"
                                    required>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <input formControlName="aMaterno" matInput placeholder="Apellido Materno"
                                    required>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <input formControlName="fechaNa" matInput placeholder="Fecha de nacimiento" required>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <mat-label>Tipo de sangre</mat-label>
                                <mat-select formControlName="tipoSangre">
                                    <mat-option value="A">A</mat-option>
                                    <mat-option value="B">B</mat-option>
                                    <mat-option value="AB">AB</mat-option>
                                    <mat-option value="O">O</mat-option>
                                    <mat-option value="O-">O-</mat-option>
                                    <mat-option value="O+">O+</mat-option>
                                    <mat-option value="A-">A-</mat-option>
                                    <mat-option value="A+">A+</mat-option>
                                    <mat-option value="B-">B-</mat-option>
                                    <mat-option value="B+">B+</mat-option>
                                    <mat-option value="AB-">AB-</mat-option>
                                    <mat-option value="AB+">AB+</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <input formControlName="enfermedades" matInput placeholder="Enfermedades" required>
                            </mat-form-field>
                        </p>
                        <p>
                            <mat-form-field>
                                <input formControlName="alergias" matInput placeholder="Alergias a medicamentos"
                                    required>
                            </mat-form-field>
                        </p>

                        <p>
                            <button  type="button" (click)="saveOrEdit()"
                                class="btn btn-success">Guardar cambio</button>
                            <button type="button" (click)="clear()" class="btn btn-outline-info ml-2">Clear</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No. Afiliación</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido Paterno</th>
                            <th scope="col">Apellido Materno</th>
                            <th scope="col">Fecha de nacimiento</th>
                            <th scope="col">Tipo de sangre</th>
                            <th scope="col">Enfermedades</th>
                            <th scope="col">Alergias</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr class="list-group-item-action" *ngFor="let teacher of teachers">
                            <th scope="row">{{teacher.noAfiliacion}}</th>
                            <td>{{teacher.nombre}}</td>
                            <td>{{teacher.aPaterno}}</td>
                            <td>{{teacher.aMaterno}}</td>
                            <td>{{teacher.fechaNa}}</td>
                            <td>{{teacher.tipoSangre}}</td>
                            <td>{{teacher.enfermedades}}</td>
                            <td>{{teacher.alergias}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


</div>